<launch>
    <!-- Posix SITL environment launch script -->

    <arg name="headless" default="false"/>
    <arg name="gui" default="false"/>
    <arg name="ns" default="/"/>
    <arg name="world" default="iris_kinect"/>
    <arg name="build" default="posix_sitl_default"/>
    <arg name="global_namespace" default="flytsim"/>
    <arg name="appname" default="mainapp" />
    
    <group ns="$(arg global_namespace)">
        <node pkg="sitl_gazebo" type="sitl_run.sh" name="simulator" args="rcS none gazebo iris $(find sitl_gazebo) $(arg appname)">
            <env name="no_sim" value="1" />
        </node>
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="headless" value="$(arg headless)"/>
            <arg name="gui" value="$(arg gui)"/>
            <arg name="world_name" value="$(find sitl_gazebo)/worlds/$(arg world).world" />
        </include>
    </group>
</launch>
